
<div class="container mt-24">
<div class="card text-white bg-info " style="max-width: 18rem;margin: 0 auto;">
  <div class="card-header">Your Word: <%= @word.downcase %></div>
  <div class="card-body">
    <h5 class="card-title">Valid Word: <%= @valid_word %></h5>
    <p class="card-text"><%=@response%></p>
  </div>
</div>
</div>